app: product-service
service: product-service
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: eu-west-1

  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "*"

plugins:
  # - serverless-auto-swagger
  - serverless-webpack
  - serverless-jest-plugin  
  - serverless-offline

package:
  individually: true

custom: 
  webpack: 
    webpackConfig:  'webpack.config.js'  # Имя файла конфигурации 
    webpack includeModules:  false  # Конфигурация модулей узла для упаковки 
    packager:  'npm'  # Packager, который будет использоваться для упаковки ваших внешних модулей 
    excludeFiles:  src/** /*.test.js  # Предоставить glob для игнорируемых файлов  
  
functions:
  getProductsByID:
    handler: functions/getProductsByID/getProductsByID.handler
    events:
      - http:
          path: products/{id}
          method: get
          cors: true

  getProductsList:
    handler: functions/getProductsList/getProductsList.handler
    events:
      - http:
          path: products
          method: get
          cors: true  

  createProduct:
    handler: functions/createProduct/createProduct.handler
    events:
      - http:
          path: products
          method: post
          cors: true    

  writeDataInDB:
    handler: functions/writeDataInDB/writeDataInDB.handler
    events:
      - http:
          path: init
          method: get
          cors: true     

resources:
  Resources:
    Products:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Products
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1  

    Stocks:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Stocks
        AttributeDefinitions:
          - AttributeName: product_id
            AttributeType: S
        KeySchema:
          - AttributeName: product_id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1     
