app: product-service
service: product-service
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: eu-west-1

plugins:
  - serverless-auto-swagger
  - serverless-webpack
  - serverless-jest-plugin  
  - serverless-offline

package:
  individually: true

custom: 
  webpack: 
    webpackConfig:  'webpack.config.js'  # Имя файла конфигурации 
    webpack includeModules:  false  # Конфигурация модулей узла для упаковки 
    packager:  'npm'  # Packager, который будет использоваться для упаковки ваших внешних модулей 
    excludeFiles:  src/** /*.test.js  # Предоставить glob для игнорируемых файлов  
  autoswagger: 
    typefiles: './src/types/product.d.ts'
  jest:  

functions:
  getProductsByID:
    handler: functions/getProductsByID/getProductsByID.handler
    events:
      - http:
          path: products/{productId}
          method: get
          cors: true

  getProductsList:
    handler: functions/getProductsList/getProductsList.handler
    events:
      - http:
          path: products
          method: get
          cors: true  

  createProduct:
    handler: functions/createProduct/createProduct.handler
    events:
      - http:
          path: products
          method: post
          cors: true             

environment:
  TABLE_NAME:
    Ref: products
  # PG_HOST: music-shop.cq7elyimyrte.eu-west-1.rds.amazonaws.com
  # PG_PORT: 5432
  # PG_DATABASE: shop
  # PG_USERNAME: postgres
  # PG_PASSWORD: zE3fgXD74JNejiqARGo7  

resources:
  Resources:
    ProductsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ProductsTable
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1  

iamRoleStatements:
  - Effect: Allow
    Action:
      - dynamodb:DescribeTable
      - dynamodb:Query
      - dynamodb:Scan
      - dynamodb:GetItem
      - dynamodb:PutItem
      - dynamodb:UpdateItem
      - dynamodb:DeleteItem
    Resource:
      - "Fn::GetAtt": [products, Arn]          
